.ToDoListItem{
    display: flex;
    align-items: center;
}
.ToDoListItem:nth-child(even){
    background-color: #efffff;
}
.checkbox{
    flex: 1;
    cursor: pointer;
}
.remove{
    float: 1;
    cursor: pointer;
}
.remove:hover{
    color: deeppink;
}
.text{
    flex: 8;
}
.text.checked{
    background-color: #eee;
}